<p>parallax works!</p>
<div class="parallax-section" style="background-image: url('../../../public/image3.jpg');">
    <h1>Section 1</h1>
    <br>
    <p>This is first parallax section</p>
</div>

<div class="content-section">
    <p>This is regular content section</p>
</div>

<div class="parallax-section" style="background-image: url('../../../public/image1.jpg');">
    <h1>Section 2</h1>
    <br>
    <p>This is second parallax section</p>
</div>

<div class="content-section">
    <p>This is another regular content section</p>
</div>

<div class="parallax-section" style="background-image: url('../../../public/image2.jpg');">
    <h1>Section 3</h1>
    <br>
    <p>This is third parallax section</p>
</div>

<div class="content-section">
    <p>This is third regular content section</p>
</div>